# This is standard running mongodb locally
MONGODB_URI_LOCAL=mongodb://localhost:27017/escalade

# Put lots of randomness in these
SESSION_SECRET=aaaaaaaaaaaaaaajhflak
# Facebook keys - register your app and get yours here: https://developers.facebook.com/
FACEBOOK_ID=111111111115
FACEBOOK_SECRET=3333333333333333333ad8267d3c1939a4a