doctype html 
html(lang='')
  head
    meta(charset='utf-8')
    meta(name='theme-color' content='#000000')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title #{title}

    link(rel='stylesheet', href='/vendors/compiled-tailwind.min.css')

  body.text-gray-800.antialiased
    main 
      block content
      

    .container.pl-sm-0.pr-sm-0.pl-lg-3.pr-lg-3
      include partials/flash
     

    include partials/footer

    script(src='/js/lib/jquery-3.1.1.min.js')
    script(src='/js/lib/bootstrap.min.js')
    script(async defer src="https://buttons.github.io/buttons.js")
    script(src='/js/main.js')
